<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>%= title %</title>

</head>
<body>
<h1> Số lượng người xem: <%= counter %> </h1>
    <section class="section">
        <div class="container">
            <h1 class="temp">Temp</h1>
            <h2 class="min">Min:</h2>
            <h3 class="time">Time</h3>
            <h3 class="wether">Wether</h3>
            <div class="row">
                <div class="container col-md-6">
                    <table class="table-bordered">
                        <thead>
                            <th>Date</th>
                            <th>Time/th>
                            <th>Date</th>
                        </thead>
                            <tbody class="text-center">
                                <script type="text/javascript" src="JS/jquery%203.5.1.js"></script>
                                <script type="text/javascript">

                                </script>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>